.env
.idea/*
__pycache__/*
venv/*
env3/*
__pycache__/
*.py[cod]
nettest.py
*.pyc
usernames.db.dir
usernames.db.bak
usernames.db.dat
test.db.dir
test.db.dat
test.db.bak
firebase-cert.json
test.py
ApplyingToCollege_log_export_2022-07-16_202448.0840000000.json
loadmoddata.py
usernames.db
.dev-env
.gitignore.swp
.venv/
pyrightconfig.json
